.card-body .card-title{
    box-shadow: black 3px 3px 3px;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    background-color: azure;
    font-size: 30px;
}
.card-body-about .card-title{
    box-shadow: black 3px 3px 3px;
}
.card-about{

    padding: 30px;
    background: rgb(102,102,102);
    background: -moz-linear-gradient(0deg, rgba(102,102,102,1) 4%, rgba(71,71,71,1) 18%, rgba(41,41,41,1) 45%);
    background: -webkit-linear-gradient(0deg, rgba(102,102,102,1) 4%, rgba(71,71,71,1) 18%, rgba(41,41,41,1) 45%);
    background: linear-gradient(0deg, rgba(102,102,102,1) 4%, rgba(71,71,71,1) 18%, rgba(41,41,41,1) 45%);
}
.card-about .card-text{
    color: black;
    text-align: center;
}

.card-deck{
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.card .card-img-top{
    border-radius: 5px;
}
.card-body{
    background-color: LightSteelBlue;

}
.card-body-about .card-title{
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    background-color: LightSteelBlue;
    font-size: 30px;
}
.card-body-contato .card-title{
    text-align: center;
    padding: 10px;
    background-color: LightSteelBlue;
    font-size: 30px;
}

.carousel-inner{
    width: 100%;
    height: 500px;
    background: rgb(41,41,41);
    background: -moz-linear-gradient(0deg, rgba(41,41,41,1) 32%, rgba(71,71,71,1) 50%, rgba(102,102,102,1) 80%);
    background: -webkit-linear-gradient(0deg, rgba(41,41,41,1) 32%, rgba(71,71,71,1) 50%, rgba(102,102,102,1) 80%);
    background: linear-gradient(0deg, rgba(41,41,41,1) 32%, rgba(71,71,71,1) 50%, rgba(102,102,102,1) 80%);
}
.d-block{
    width: 600px;
    height: 500px;
    margin: auto;
    padding: 56px;
}
.card-text-about{
    color: white;
    text-align: center;
}
.card-body-contato .card-title{
    box-shadow: black 3px 3px 3px;
}
.icone-menu{
    width: 40px;
    height: 40px;
}
.navbar{
    background-color: LightSteelBlue;
}
.a-rodape {
    text-decoration: none;
    color: black;
}
.a-rodape:hover {
    text-decoration: none;
    color: gray;
}
.btn{
    background-color: LightSteelBlue;
    box-shadow: black 3px 3px 3px;
}

footer{
    background: rgb(41,41,41);
    background: linear-gradient(0deg, rgba(41,41,41,1) 11%, rgba(102,102,102,1) 56%, rgba(71,71,71,1) 82%);
}
.col-about{
    width: 100%;
    height: 400px;
}
.card-img-bottom{
    width: 400px;
    height: 600px;
    margin: auto;
    border-radius: 100px;
    box-shadow: black 3px 3px 3px;
}
.row-about{
    height: 600px;
}
.card{
    box-shadow: black 4px 4px 4px;
}
.row{
    height: 60px;
}