.card-body .card-title{
    box-shadow: black 3px 3px 3px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background-color: azure;
    font-size: 30px;
}
.card-body-about .card-title{
    box-shadow: black 3px 3px 3px;
}
.card-about{
    padding: 30px;
    background: rgb(36,34,34);
    background: linear-gradient(329deg, rgba(36,34,34,1) 37%, rgba(94,92,92,1) 81%);
}
.card-about .card-text{
    color: white;
    text-align: center;
}
.card-img-bottom{
    border-radius: 30px;
}
.card-deck{
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.card .card-img-top{
    border-radius: 5px;
}
.card-body{
    background-color: lightblue;

}
.card-body-about .card-title{
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background-color: lightblue;
    font-size: 30px;
}
.card-body-contato .card-title{
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background-color: lightblue;
    font-size: 30px;
}
.card-contato{
    background: rgb(37,36,36);
    background: linear-gradient(329deg, rgba(37,36,36,1) 47%, rgba(0,0,0,1) 99%);
}